---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import Pageshead from "../components/Pageshead.astro";

// 友链数据
const FRIEND_LINKS = [
  {
    name: "安知鱼",
    description: "生活明朗，万物可爱",
    url: "https://blog.anheyu.com/",
    avatar: "https://npm.elemecdn.com/anzhiyu-blog-static@1.0.4/img/avatar.jpg",
  },
  {
    name: "xaoxuu",
    description: "没有简介",
    url: "https://xaoxuu.com",
    avatar: "https://bu.dusays.com/2021/09/24/2f74810ceb3d3.png",
  },
  {
    name: "Mashiro",
    description: "樱花庄的白猫",
    url: "https://2heng.xin",
    avatar:
      "https://gravatar.fghrsh.net/avatar/cd2b3a164c977539712929f66cad335c?s=300&d=mm&r=G",
  },
  {
    name: "Krazyu风宇",
    description: "终不似，少年游",
    url: "https://krazyu.com",
    avatar: "https://krazyu.com/images/avatar.svg",
  },
  {
    name: "EvanNotFound’s Blog",
    description: "Evan的部落阁，用香港记者的速度更新文章",
    url: "https://ohevan.com",
    avatar: "https://assets.ohevan.com/avatars/avatar-min.png",
  },
  {
    name: "折影轻梦",
    description: "为热爱战斗着，努力学着变得勇敢",
    url: "https://nexmoe.com",
    avatar: "https://cravatar.cn/avatar/c7fd185f8c967dec20c29c75a40b9e09?s=500",
  },
  {
    name: "CrazyWong",
    description: "热衷学习，热衷生活",
    url: "https://blog.crazywong.com/",
    avatar: "https://blog.crazywong.com/img/avatar.png",
  },
];
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <Body>
    <Header title={SITE_TITLE} />
    <main class="pt-[56px]">
      <Content>
        <Pageshead title="友链" />
        <section>
          <h2
            class="font-mplus font-bold text-xl my-4 underline underline-offset-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4"
          >
            活跃链接
          </h2>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- 友链卡片 -->
            {
              FRIEND_LINKS.map(({ name, description, url, avatar }) => (
                <a
                  href={url}
                  class="flex border border-slate-300 dark:border-zinc-700 rounded-lg bg-white/50 hover:bg-gray-100 dark:bg-gray-800/50 dark:hover:bg-gray-700 transition overflow-hidden"
                >
                  <div class="h-20 w-20 shrink-0 bg-gray-200 dark:bg-gray-700">
                    <img
                      src={avatar}
                      loading="lazy"
                      alt={name}
                      class="h-full w-full object-cover"
                    />
                  </div>
                  <div class="p-4">
                    <h3 class="text-sm font-bold line-clamp-1">{name}</h3>
                    <p class="mt-2 text-xs text-gray-600 dark:text-gray-400 line-clamp-1">
                      {description}
                    </p>
                  </div>
                </a>
              ))
            }
          </div>
        </section>
        <section class="mt-24">
          <h2
            class="font-mplus font-bold text-xl my-4 underline underline-offset-4 decoration-zinc-400 dark:decoration-zinc-700 decoration-4"
          >
            添加友链
          </h2>
          暂停维护
        </section>
      </Content>
    </main>
    <Footer />
  </Body>
</html>
