---
// import "../app.css";    移到'BaseHead.astro'
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Body from "../components/Body.astro";
import Content from "../components/Content.astro";
import { SITE_TITLE } from "../config";

export interface Props {
  content: {
    title: string;
    description: string;
    createdAt?: string;
    updatedAt?: string;
    heroImage?: string;
    tags: string[];
  };
}

const {
  content: { title, description, heroImage },
} = Astro.props;
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <BaseHead
      title={title + ` / ${SITE_TITLE}`}
      description={description}
      image={heroImage}
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/katex@0.16.8/dist/katex.min.css"
    />
    <!-- KaTeX CSS 用于渲染公式 -->
  </head>

  <Body>
    <Header />
    <main class="pt-[56px]">
      <Content
        className="pt-6 markdown-body prose dark:prose-invert prose-h1:font-bold prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl"
      >
        <div class="mb-8">
          {
            heroImage && (
              <img
                class="border border-slate-300 dark:border-zinc-700"
                width={720}
                height={360}
                src={heroImage}
                alt=""
              />
            )
          }
        </div>
        <h1 class="text-3xl my-1 font-mplus">{title}</h1>
        <div>{description}</div>
        <hr class="border-top border-zinc-400 my-4" />
        <slot />
      </Content>
    </main>
    <Footer />
  </Body>
</html>
